<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.review.process.keepalive">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

         <!-- 锁屏开启的Activity-->
        <activity
            android:name=".KeepAliveActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"
            android:process=":live"
            android:theme="@style/AliveActivityStyle" />

        <!-- service-->
        <service android:name=".KeepAliveService" android:process=":live"/>
        <service android:name=".CancelService" />
        <service
            android:name=".MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".LiveNotificationListenerService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <!-- 守护广播-->
        <receiver android:name=".KeepAliveReceiver">

            <!-- 开机广播-->
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <!-- 网络变化-->
            <intent-filter android:priority="1000">
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>

            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <!-- 锁屏解锁-->
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
            <!-- 文件挂载-->
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <data android:scheme="file" />
            </intent-filter>
            <!-- 应用安装卸载-->
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
            </intent-filter>

            <!-- 自定义广播-->
            <intent-filter android:priority="1000">
                <action android:name="com.review.action.restartservice" />
            </intent-filter>
            <!-- 第三方应用广播 -->

        </receiver>
    </application>

</manifest>