<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.review.mutiprocess">

    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 进程名以：开头，完整进程名=包名+进程名   是应用的私有进程，只能在当前应用内共享-->
        <service android:name=".PrivateProcessService" android:process=":remote" />
        <!-- 具有相同uid的应用可共享-->
        <service android:name=".ShareProcessService" android:process="com.review.mutiprocess.share"/>
    </application>

</manifest>