<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.review.activity">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:label="Application模块"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:label="Activity模块"
            android:icon="@mipmap/ic_launcher"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 可配置多个入口，在桌面上会显示图标-->
      <!--  <activity android:name=".TwoActivity"
            android:label="其他入口"
            android:icon="@mipmap/ic_launcher"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->

        <activity android:name=".ConfigChangeActivity"
                  android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            />
        <!--
         activity-alias并不是代表一个Activity，而是代表一个已经存在的Activity的别名。
         -->
        <activity-alias
            android:name="com.review.activity.MainActivityAlias"
            android:enabled="false"
            android:icon="@mipmap/icon"
            android:label="MainActivityAlias"
            android:targetActivity="com.review.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>